body
{
    box-sizing: border-box;

    outline: none;
}

.fl-l
{
    float: left;
}

.fl-r
{
    float: right;
}

.cf
{
    display: table;
    clear: both;

    content: '';
}

button
{
    font-family: 'Open Sans', sans-serif;

    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border: none;
    outline: none;
    background: none;
}

input
{
    margin: 0;
    padding: 0;

    color: #d9d9d9;
}

.wrapper
{
    box-sizing: border-box;
    width: 744px;
    margin: 100px auto;
    padding: 25px 95px 60px;

    border: 1px solid #afafaf;
    background-color: #f5f5f5;
}

h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #ead7d8;
}

.fa
{
    color: #e6e6e6;
    /*margin-left: 10px;*/
}

/*.row-name,
.row
{
    width: 100%;

    color: #e6e6e6;
}*/

.row-name
{
    border-bottom: 1px solid #e6e6e6;
    box-shadow: inset 0 -1px 2px #ededed;
}

.row
{
    position: relative;
}

/* form container style*/
.todos
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    /*width: 550px;*/

    margin: 0 auto;

    color: #4d4d4d;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #aaa, 0 7px 0 -3px #fff, 0 7px 2px -3px #aaa, 0 14px 0 -6px #fff, 0 14px 2px -6px #aaa;
}

.btn-name
{
    width: 43px;
    margin-left: 4px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

.task-name
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    font-style: italic;

    display: inline-block;

    width: 83%;
    padding-left: 24px;

    color: #d9d9d9;
    border: none;
    outline: none;
}

.task-name::placeholder
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    color: #d9d9d9;
}
.task-name::-webkit-input-placeholder
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    color: #d9d9d9;
}

.task-name::-moz-placeholder
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    color: #d9d9d9;
} /* Firefox 19+ */

.task-name:-moz-placeholder
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    color: #d9d9d9;
} /* Firefox 18- */

.task-name:-ms-input-placeholder
{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;

    color: #d9d9d9;
}













.row
{
    width: 100%;

    border-bottom: 1px solid #ededed;
}

.bottom
{
    height: 40px;
}

/* --- checkbox style --- */
input[type=checkbox]
{
    display: none;
}

label
{
    cursor: pointer;
}

input[type='checkbox']:checked + label .fa-check
{
    visibility: visible;
}

.fa-stack
{
    margin-top: 10px;
    margin-right: 11px;
    margin-left: 7px;
}

.fa-check
{
    visibility: hidden;

    color: #5ac2b0;
}


/* --- task field style --- */
.field
{
    font-size: 20px;

    overflow: hidden;

    box-sizing: border-box;
    min-height: 60px;
    padding-top: 15px;
    padding-right: 40px;
    padding-left: 14px;

    color: #4d4d4d;
    border: 1px solid transparent;
    outline: none;
}

.field:focus
{
    border: 1px solid #aaa;
    box-shadow: inset 0 0 4px 1px #d8d8d8;
}

input[type='checkbox']:checked + label + .field
{
    text-decoration: line-through ;

    color: #d9d9d9;
}

/* ---- button remove style --- */
.del-task
{
    position: absolute;
    top: 18px;
    left: 100%;

    display: none;

    margin-left: -39px;
}

.fa-times
{
    color: #b06f72;
}

.row:hover  .del-task
{
    display: block;
}

.row:focus  .del-task
{
    display: none;
}


/* --- footer style --- */
.footer
{
    width: 100%;
    padding: 7px 5px 7px 14px;
}

.indicator
{
    font-size: 13px;
    line-height: 34px;

    color: #878787;
}

.btn
{
    font-weight: 300;

    padding: 7px;

    border: 1px solid rgba(239, 213, 214, 0);
    border-radius: 3px;

    margin-right: 8px;
}

.btn:hover
{
    border: 1px solid rgba(239, 213, 214, 1);
}

.buttons
{
    display: inline-block;

    margin-left: 100px;
}

.btn-activ
{
    border: 1px solid rgba(239, 213, 214, 1);
}

.clear-compl
{
    margin-right: 18px;
}
