*
{
    box-sizing: border-box;

    outline: none;
}

.left
{
    float: left;
}
.right
{
    float: right;
}
.cf
{
    display: table;
    clear: both;

    content: '';
}
button
{
    font-family: 'Open Sans', sans-serif;

    margin: 0;
    padding: 0;

    border: none;
    background: none;
}
.wrapper
{
    width: 744px;
    margin: 100px auto;
    padding: 25px 95px 60px;

    border: 1px solid #afafaf;
    background-color: #f5f5f5;
}
h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: 300;

    margin: 0;
    padding: 0;

    text-align: center;

    color: #ead7d8;
}
.fa
{
    color: #e6e6e6;
}
.row-name,
.row
{
    width: 100%;

    color: #e6e6e6;
}
.row-name
{
    border-bottom: 1px solid #e6e6e6;
    box-shadow: inset 0 -1px 2px #ededed;
}
.row
{
    position: relative;
}

/* form container style*/
.todos
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    width: 550px;
    margin: 0 auto;

    color: #4d4d4d;
    background-color: #fff;
    box-shadow: 0 0 2px 0 #aaa, 0 7px 0 -3px #fff, 0 7px 2px -3px #aaa, 0 14px 0 -6px #fff, 0 14px 2px -6px #aaa;
}

.btn-name
{
    width: 43px;
    padding-top: 10px;
    padding-bottom: 10px;

    cursor: pointer;
}

.task-name
{
    font-size: 22px;
    font-style: italic;

    display: inline-block;

    padding-left: 17px;
}
.row
{
    width: 100%;

    border-bottom: 1px solid #ededed;
}
.bottom
{
    height: 40px;
}

/* --- checkbox style --- */
input[type=checkbox]
{
    display: none;
}
/*input[type="checkbox"]:checked {  }*/
label
{
    position: relative;

    display: inline-block;

    cursor: pointer;
}
/*label::before {
content: "";
display: block;
position: absolute;
top: 13px;
left: 8px;
}*/
input[type='checkbox']:checked + label .fa-check
{
    /*content: "";*/
    visibility: visible;
}
.fa-stack
{
    margin-top: 10px;
}
.fa-check
{
    visibility: hidden;

    color: #5ac2b0;
}


/* --- task field style --- */
.field
{
    font-size: 20px;

    display: inline-block;

    box-sizing: border-box;
    width: 505px;
    height: 60px;
    padding-top: 15px;
    padding-left: 18px;

    color: #4d4d4d;
    border: 1px solid transparent;
}
.field:focus
{
    border: 1px solid #aaa;
    box-shadow: inset 0 0 4px 1px #d8d8d8;
}
input[type='checkbox']:checked + label + .field
{
    text-decoration: line-through ;

    color: #d9d9d9;
}

/* ---- button remove style --- */
.del-task
{
    position: absolute;
    top: 18px;
    left: 100%;

    display: none;

    margin-left: -39px;
}
.fa-times
{
    color: #b06f72;
}
.row:hover  .del-task
{
    display: block;
}
.row:focus  .del-task
{
    display: none;
}


/* --- footer style --- */
.footer
{
    width: 100%;
    padding: 7px 5px 7px 14px;
}
.indicator
{
    font-size: 13px;
    line-height: 34px;

    color: #878787;
}
.btn
{
    font-weight: 300;

    margin-right: 8px;
    padding: 7px;

    color: #878787;
    border: 1px solid rgba(239, 213, 214, 0);
}
/*.btn:last-child
{
    margin-right: 0;
    margin-left: 56px;
}*/

.buttons
{
    display: inline-block;
    margin-left: 100px;
}
.btn-activ
/*.btn:focus*/
{
    border: 1px solid rgba(239, 213, 214, 1);
    border-radius: 3px;
}
